@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



:root{
    --main-color: #00adef;
    /*#ef7829*/
    --blue: #978888; 
    --blue-dark: #f5f5f5;
    --orange: rgb(60, 145, 214);
    --green-yellow: #cddc39;
    --pink-light: #0d1521;
    --cyan-light: #423a37;
    --bg-tasti-nav: rgb(20, 30, 53);
    --traccia: #2d5c89;
    --nav2-c: #102b3a;
    --white: #ffffff;
    --white-alpha-40: rgba(153, 184, 200, 0.4);
    --white-alpha-25: rgba(69, 132, 166, 0.25);
    --span-color: #90889c;
 }

 #preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--pink-light);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  opacity: 1; 
  transition: opacity 0.5s ease-in-out; 
}

#preloader img {
  max-width: 390px;
}

body.loading #preloader {
  opacity: 0;
}

body.loading-done * {
  visibility: visible;
}

@media only screen and (max-width: 800px) {
  #preloader img {
    max-width: 300px;
  }
}

@media only screen and (max-width: 510px) {
  #preloader img {
    max-width: 240px;
  }
}

@media only screen and (max-width: 310px) {
  #preloader img {
    max-width: 200px;
  }
} 

 ::selection {
    background-color: var(--main-color);
    color: white; /* Imposta il colore del testo quando è selezionato */
}

.hidden{
    display: none !important;
}

/* barra di scorrimento custom */
/* Width */
::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-button {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 0px;
}

/* Styling for Firefox */
@supports (-moz-appearance: none) {
  /* Width per Firefox */
  * {
    scrollbar-width: thin;
  }

  /* Handle per Firefox */
  * {
    scrollbar-color: var(--main-color) var(--white);
  }
  
}

/* Nascondi le scrollbar su Webkit (Chrome, Safari) */
.ozmenu.active .ozmenu-nav::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Nascondi le scrollbar su Firefox */
.ozmenu.active .ozmenu-nav {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.ozmenu.active .ozmenu-nav::-webkit-scrollbar {
  display: none; /* Nasconde la scrollbar su Webkit (Chrome, Safari) */
}



*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

#mybackontopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--main-color); /* Set a background color */
  color: var(--blue-dark); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 2px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

@keyframes scala_loop{
  0%{
    transform:scale(1);
  }
  50%{
    transform:scale(1.17);
  }
  100%{
    transform:scale(1);
  }
}

#mybackontopBtn:hover {
  animation: scala_loop 2s ease-in-out infinite;
}

@media only screen and (max-width: 400px) {
  #mybackontopBtn {
    padding: 10px; /* Some padding */
    font-size: 16px; /* Increase font size */
    right: 18px; /* Place the button 18px from the right */
  }
}

#site-background {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter:brightness(55%) grayscale(85%) blur(10px); /* Sfondo iniziale in bianco e nero e sfocato */
  transition: filter 0.3s ease-in-out;
  background-size: cover; /* Aggiunta della regola per adattare la grandezza */
  background-position: center; /* Centra l'immagine */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  
}

#site-background.hover-effect {
  opacity: 1;
}

/* canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
  width: 100%;
} */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--pink-light);
    overflow-x:hidden;
  }

  .titolo-paragrafo {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
  }

  .titolo-grande {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size:40px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.2;
  }
  
  .paragrafo-articolo {
    text-align: center;
    font-weight: 300;
  } 
  .container-paragrafi {
    width: 100%;
    box-sizing: border-box;
    max-width: 650px;
    margin: 0 auto;
    padding: 8px 20px 8px 20px;
    /* background-color: #00faed;  */
    margin-bottom: 40px;
    margin-top: 40px;
    color: var(--blue-dark);
  }

  .main-container {
    display: flex;
    flex-direction: column;

    /*background-color: rgb(217, 179, 28);*/ /* Use the custom variable for orange */
    padding: 30px 120px 30px 120px; /* Adjust padding */
    width: 100%; /* Make it full-width */
    box-sizing: border-box;
    z-index: 1; /* Add this line */
}

.spazio-sezioni{
  /* background-color: red; */
  margin-top: 40px;
  margin-bottom: 40px;
}

.spazio-sezioni h6{
  font-size: 1px;
  opacity:0;
  user-select: none;
}

.spazio-sezioni-2{
  /* background-color: red; */
  margin-top: 6px;
  margin-bottom: 6px;
}

.spazio-sezioni-2 h6{
  font-size: 1px;
  opacity:0;
  user-select: none;
}

.spazio-sezioni-3{
  /* background-color: red; */
  margin-top: 16px;
  margin-bottom: 16px;
}

.spazio-sezioni-3 h6{
  font-size: 1px;
  opacity:0;
  user-select: none;
}

.spazio-sezioni-5{
  /* background-color: red; */
  margin-top: 0px;
  margin-bottom: 0px;
}

.spazio-sezioni-5 h6{
  font-size: 1px;
  opacity:0;
  user-select: none;
}

.spazio-sezioni-8{
  /* background-color: red; */
  margin-top: 35px;
  margin-bottom: 35px;
}

.spazio-sezioni-8 h6{
  font-size: 1px;
  opacity:0;
  user-select: none;
}
  

.grid {
  /* background-color: darkgreen;   */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px 0px 20px 0px;
  margin:auto;

}


  
.image-container {
    position: relative;
    overflow: hidden;
    user-select: none;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out; /* Aggiunta della transizione */
    border-radius: 2px;
    
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    /* background-color: #00faed; */
    width: 65%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    
    
  }

  .image-container:before,
  .image-container:after {
      content: "";
      position: absolute;
      width: 0;
      height: 3px;
      background-color: var(--main-color);
      transition: width 0.3s ease-in-out, left 0.3s ease-in-out, right 0.3s ease-in-out;
  }
  
  .image-container:before {
      top: 0;
      left: 0; /* Cambiato da 'right' a 'left' */
  }
  
  .image-container:after {
      bottom: 0;
      right: 0; /* Cambiato da 'left' a 'right' */
  }
  
  .image-container:hover:before {
      width: 100%;
      right: 0; /* Aggiunto questo per garantire l'animazione corretta in uscita */
  }
  
  .image-container:hover:after {
      width: 100%;
      left: 0; /* Aggiunto questo per garantire l'animazione corretta in uscita */
  }

.overlay h3 {
    font-weight: 700;
    margin-bottom: 4px; /* Riduci il margine tra h3 e p */
}

.overlay p {
    font-size: 11px;
    font-weight: 300;
    margin-top: 4px; /* Riduci il margine tra h3 e p */
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 3px;
  }
  
  .hover-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
  }
  
    .image-container:hover img {
    filter: brightness(40%);
    transform: scale(1.03);
    border-radius: 3px;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .image-container:hover .hover-image {
    opacity: 1;
  }



.video-progetto{

  width: 100%;
  overflow: hidden;
  max-width: 900px;
  align-content: center;
  justify-content: center;
  margin:auto;
  position: relative;

}


  @media only screen and (min-width: 1900px){
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); 
    }
  }

  @media only screen and (max-width: 1280px){
    .container-paragrafi {
      /* background-color: #00faed;  */
      margin-bottom: 40px;
      margin-top: 20px;
    }
  }



  @media only screen and (max-width: 1063.8px) {
    
    .main-container{
      padding: 30px 70px 30px 70px; /* Adjust padding */
    }
    
    .grid{  
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* background-color: red; */
    }
  }


  @media only screen and (max-width: 858px) {

    .container-paragrafi {
      /* background-color: #00faed;  */
      margin-bottom: 30px;
      margin-top: 10px;
    }

    .grid{  
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      /* background-color: rgb(0, 255, 4); */
  }
}

  
  @media only screen and (max-width: 600px) {

    .titolo-articolo {
      font-size: 35px;
    }
  
    .container-paragrafi {
      padding: 8px 25px 8px 25px;
    }
  
    .titolo-paragrafo {
      font-size: 19px;
    }

    .main-container{
      padding: 30px 30px 30px 30px; /* Adjust padding */
    }
    

  
  }

  @media only screen and (max-width: 575px) {
    .titolo-grande {
      font-size: 35px;
    }
  }

  @media only screen and (max-width: 560px) {
    .grid{  
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      /* background-color: red; */
      }
  }
  
  @media only screen and (max-width: 480px) {

    .titolo-articolo {
      font-size: 25px;
    }
    .titolo-paragrafo {
      font-size: 18px;
    }

    .spazio-sezioni{
      /* background-color: red; */
      margin-top: 20px;
      margin-bottom: 20px;
    }

    

    .spazio-sezioni-3{
      /* background-color: red; */
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .spazio-sezioni-5{
      /* background-color: red; */
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
  }
  
  @media only screen and (max-width: 400px) {

    .container-paragrafi {
      /* background-color: #00faed;  */
      margin-bottom: 10px;
      margin-top: 5px;
    }

    .titolo-articolo {
      font-size: 23px;
    }
    .titolo-paragrafo {
      font-size: 16px;
    }
    .paragrafo-articolo {
      font-size: 14px;
    }
  
  }

  @media only screen and (max-width: 310px) {
    .grid{  
      grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
      /* background-color: red; */
      }
    }
  
  @media only screen and (max-width: 290px) {

      .titolo-grande {
        font-size: 27px;
      }

    .titolo-articolo {
      font-size: 23px;
    }
    .titolo-paragrafo {
      font-size: 14px;
    }
    .paragrafo-articolo {
      font-size: 12px;

    }
 
  }







/* Menu */



.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red;  */
  margin-top: 30px;
  margin-left:112px;
  margin-right: 112px;
}


#logo {
  width: 200px;
  fill: var(--blue-dark);
  margin-top: 0;
  position: relative;
  user-select: none;
  transition: fill 0.3s ease;
}

#logo:hover {
  cursor: pointer;
  fill: var(--main-color);
}


.ozmenu {
  flex-grow: 1; /* Permette alla navbar di occupare lo spazio rimanente */
}



/* .ozmenu ul.ozmenu-nav {
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  padding-left: 0px;
  background-color: red;
  width: 80%;
}  */

.ozmenu-nav {
  display: flex;
  justify-content: flex-end; /* Allinea gli elementi del menu a destra */
  list-style: none;
  padding-left: 0;
  margin: 0;
}


.ozmenu ul.ozmenu-nav>li {
  position: relative;
  float: left;
  width: auto;
  margin-left: 40px; /* Aggiunge spazio a sinistra di ogni elemento della navbar desktop (home,works,about me,contact) */
}

.ozmenu ul.ozmenu-nav>li a {
  font-size: 16px !important; /* Forza l'applicazione della dimensione del testo nella navbar */
  font-weight: 400 !important;
  
}

.ozmenu ul li.dropdownitem ul li a {
  font-size: 16px !important; /* Forza l'applicazione della dimensione del testo per i dropdown */
  font-weight: 400 !important;
}


.ozmenu ul.ozmenu-nav>li:first-child {
  margin-left: 0; /* Rimuove il margine dall'elemento più a sinistra */
}

.ozmenu ul.ozmenu-nav>li a:hover{
  color: var(--main-color) !important;
}

.ozmenu ul li {
  transition: background-color 0.4s ease, opacity 0.4s ease; /* Aggiungi transizione */
  opacity: 1; /* Imposta un'opacità iniziale */
}

.ozmenu ul li:hover{
  background-color: var(--bg-tasti-nav); 
  border-radius: 3px;
}


/* Evita che l'elemento nel dropdown cambi sfondo */
.ozmenu ul li .dropdown li:hover {
  background-color: transparent;
}


.ozmenu ul li.dropdownitem>a:after{
  width: 15px;
  height: 20px;
  text-align: center;
  float: right;
  background-color: var(--blue-dark); /*sostituire*/
  content: "";
  margin: 1px 0px 0px 3px;
  -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="12px" height="12px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path></svg>');
  mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="12px" height="12px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path></svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.ozmenu ul li.dropdownitem:hover>a:after{
  background-color: var(--main-color);
}

.ozmenu ul li .dropdown{
  display:none;
  position: absolute;
  min-width: 200px;
}



/* .ozmenu ul.ozmenu-nav>li a,
.ozmenu ul li.dropdownitem ul li a {
    font-size: 18px; 
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
} */

@media only screen and (max-width: 1063.8px) {
  .nav-container {
    margin-left:62px;
    margin-right: 62px;
  }
}


@media screen and (min-width: 858px) {


  .ozmenu ul.ozmenu-nav>li a{
      color: var(--blue-dark) !important;
      font-weight: 500;
      text-decoration: none;
      padding: 10px 10px;
      /* background-color: var(--bg-tasti-nav); */
      border-radius: 8px;
      display: inline-block;
      font-size: 14px;
      height: 100%;
      position: relative;
      transition: color 0.4s ease, opacity 0.4s ease; /* Aggiungi transizione */
      opacity: 1; /* Imposta un'opacità iniziale */
  }

  
  .ozmenu ul li.dropdownitem:hover .dropdown{
      display: block;
      position: absolute;
      margin: 0;
      padding: 5px 0px;
      min-width: 220px;
      padding-top: 15px !important; /* distanza del dropdown menù su desktop */
  }
  .ozmenu ul li.dropdownitem:hover > a{
      border-radius: 8px 8px 8px 8px !important;
  }
  .ozmenu ul li.dropdownitem ul li.dropdownitem:hover > a{
      border-radius: 8px !important;
  }
  .ozmenu ul li.dropdownitem:hover .dropdown .dropdown{
      display: none;
  }
  .ozmenu ul li.dropdownitem .dropdown li.dropdownitem:hover .dropdown {
      padding-left: 16px;
      position: absolute;
      margin: 0;
      padding-top: 0px !important;
      min-width: 200px;
      display: inline-table;
      top: 0 !important;
      left: 100% !important;
      right: auto !important;
  }
  .ozmenu ul li.dropdownitem .dropdown .dropdown .dropdown {
      display: none !important;
      visibility: hidden;
  }
  .ozmenu ul li.dropdownitem .dropdown ul {
      list-style: none;
      background-color: var(--bg-tasti-nav); 
      float: left;
      padding: 10px;
      border-radius: 3px;
  }
  .ozmenu ul li.dropdownitem ul li a{
      color: var(--blue-dark)!important;
      font-weight: 400;
      text-decoration: none;
      padding: 5px 0px;
      float: left;
      width: 100%;
      border-radius: 0px;
      font-size: 14px;
  }
  .ozmenu ul.ozmenu-nav .dropdown ul li a:hover {
      color: var(--main-color) !important;
      padding-left: 7px;
      transition: all 0.15s ease-out;
  }
  /* Animations */
  .dropdownitem .dropdown{
      animation: translateDown 200ms 0ms ease-in-out forwards;
      transform-origin: top center;
  }
  .dropdownitem .dropdownitem .dropdown {
      transform-origin: top center !important;
      animation: translateX 200ms 0ms ease-in-out forwards !important;
  }
  @keyframes translateDown {
      0% {
          transform: scaleY(0)
      }
      80% {
          transform: scaleY(1.1)
      }
      100% {
          transform: scaleY(1)
      }
  }
  @keyframes translateX {
      0% {
          opacity: 0;
          transform: translateX(-60px);
      }
      80% {
          transform: translateX(-5px);
      }
      100% {
          opacity: 1;
          transform: translateX(0px);
      }
  }


  /* Dropdown + Dropdown */
  .ozmenu ul li.dropdownitem ul li .nav-dropdown:after{
      width: 15px;
      height: 15px;
      text-align: center;
      float: right;
      background-color: #000;
      content: "";
      margin: 1px 0px 0px 3px;
      -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="12px" height="12px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path></svg>');
      mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="12px" height="12px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path></svg>');
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
  }
}
.ozmenu ul.ozmenu-nav .dropdown ul li {
  float: left;
  width: 100%;
}
.ozmenu ul.ozmenu-nav .dropdown ul li a{
  padding: 8px 0px;
}
.ozmenu ul li.dropdownitem ul li a,
.ozmenu ul li.dropdownitem ul li .dropdown ul li a {
  border-bottom: 1px dotted var(--pink-light);
}
.ozmenu ul li.dropdownitem ul li:last-child a,
.ozmenu ul li.dropdownitem ul li .dropdown ul li:last-child a {
  border-bottom: 0px !important;
}
/* Dropdown + Dropdown */
.ozmenu ul li.dropdownitem ul li a:before,
.ozmenu ul li.dropdownitem ul li .nav-dropdown ul li a:after{
  display: none !important;
}
.ozmenu ul li.dropdownitem ul li .nav-dropdown ul li:last-child a{
  border-bottom: 0px !important;
}
.ozmenu ul li.dropdownitem .dropdown ul li.dropdownitem {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
}
/* Responsive Menu */
.menu-close,
.menu-open {
  display: none;
}


@media screen and (max-width: 858px) {
 
  #logo{
    width:150px;
  }


  .menu-open,
  .menu-close {
      cursor: pointer;
      color:#333;
      text-decoration: none;
      font-size: 26px;
  }
  .menu-open {
      display: block;
  }
  .menu-close {
      display: none; 
  }
  .ozmenu {
      position: relative;
      display: none;
  }
  .ozmenu.active {
      display: block;
  }
  .menu-open {
      display: block !important;
      float: right;
  }
  .mobile-menu-active .menu-close {
      display: block !important;
      z-index: 15;
      position: absolute;
      right: 13px;
      left: unset !important;
      top: 0px;
      float: left;
  }
  .ozmenu-nav {
      display: none !important;
  }
  .ozmenu.active .ozmenu-nav {
      display: block !important;
  }
  .ozmenu.active{
      position: fixed;
      left: 0px;
      top: 0px;
      margin-top: 0px !important;
      width: 40%;
      height: 100vh;
      display: flex;
      z-index: 14;
  }
  .ozmenu.active .ozmenu-nav{
      background-color: var(--bg-tasti-nav);
      float: left;
      margin-top: 0px;
      padding: 40px 20px;
      width: 100%;
      height: 100vh;
      overflow: scroll;
      transform-origin: top center !important;
  }
  .ozmenu.active .ozmenu-nav, .menu-close {
      animation: translateX 400ms 0ms ease-in-out forwards !important;
  }
  @keyframes translateX {
      0% {
          opacity: 0;
          transform: translateX(-160px);
      }
      80% {
          transform: translateX(-5px);
      }
      100% {
          opacity: 1;
          transform: translateX(0px);
      }

  }

  .ozmenu ul li.dropdownitem:hover>a:after{
      background-color: var(--main-color); /*sostituire*/
  }

  .ozmenu ul li:hover{
      background-color: transparent;
      border-radius: 0px;
  }
  
  /* Evita che l'elemento nel dropdown cambi sfondo */
  .ozmenu ul li .dropdown li:hover {
      background-color: transparent;
  }


  .ozmenu ul.ozmenu-nav>li {
      float: left;
      width: 100%;
      margin-left:0px; /*works,about me e contact non hanno il margine laterale nella navbar da telefono */
  }


  
  .ozmenu ul.ozmenu-nav>li a{
      float: left;
      width: 100%;
      text-decoration: none;
      color: var(--blue-dark);
      padding: 10px 0px;
      border-bottom: 1px solid var(--traccia);
  }
  .ozmenu ul.ozmenu-nav>li a:hover {
      float: left;
      width: 100%;
      transition: all 0.25s ease-out;
      text-decoration: none;
      color: var(--main-color) !important;
      padding: 10px 0px;
  }
  .ozmenu ul li.dropdownitem>a:hover:after{
      background-color: var(--main-color)!important;
  }
  .nav-dropdown.opened {
      color: var(--main-color) !important;
      /* border-radius: 3px; */
      border-bottom: 1px solid var(--main-color) !important;
  }
  
  

  
  .ozmenu ul.ozmenu-nav>li:last-child a{
      border-bottom: 0px solid #ddd;
  }
  .ozmenu.active ul li .nav-dropdown.opened + .dropdown ul {
      list-style: none;
      float: left;
      margin-left: 0px;
      padding-left: 7px;
  }
  .ozmenu.active ul li .nav-dropdown.opened + .dropdown ul .dropdown ul {
      padding-left: 15px;
  }
  .ozmenu.active ul li .nav-dropdown.opened + .dropdown{
      display: block;
      position: relative;
      margin: 0;
      padding: 5px 0px;
      min-width: unset;
      padding-top: 0px !important;
      float: left;
  }
  .ozmenu.active ul li.dropdownitem:hover + .dropdown + .dropdown{
      display: none;
  }
  #menu-overlay {
      background-color: rgba(0,0,0,.3);
      float: left;
      display: none;
      width: 100%;
      height: 100vh;
      z-index: 13;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }
  #menu-overlay.show {
      display: block !important;
  }
  .menu-open .open {
      width: 40px;
      height: 40px;
      float: right;
      background-color: var(--blue-dark); /* Mantieni il colore di sfondo nero */
      -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="30px" height="30px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" stroke="currentColor" stroke-width="2" stroke-linecap="round"><line x1="2" y1="5" x2="14" y2="5"/><line x1="2" y1="8" x2="14" y2="8"/><line x1="2" y1="11" x2="14" y2="11"/></svg>');
      mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="40px" height="40px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"><line x1="2" y1="5" x2="14" y2="5"/><line x1="2" y1="8" x2="14" y2="8"/><line x1="2" y1="11" x2="14" y2="11"/></svg>');
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
      transition: all 0.2s ease-out;
  }
  
  
  
  /* .mobile-menu-active .menu-open .open, .menu-open .open:hover {
     
  } */

@keyframes scaleUpDown {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1); /* Ingrossa lievemente */
  }
  100% {
      transform: scale(1);
  }
}


.menu-open .open:hover {
  animation: scaleUpDown 1.5s cubic-bezier(0.25, 0.1, 0.25, 1) infinite; /* Funzione di timing personalizzata */
}


  .menu-close .close {
      width: 38px;
      height: 38px;
      float: right;
      background-color: var(--blue-dark);
      -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="38px" height="38px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x close" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path></svg>');
      mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="38px" height="38px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x close" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path></svg>');
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
      transition: all 0.2s ease-out;
  }
  .menu-close .close:hover {
      background-color: var(--blue-dark);
      -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="30px" height="30px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path></svg>');
      mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="30px" height="30px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path></svg>');
  }

  .ozmenu.active ul li.dropdownitem>a.opened:after{
      -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="12px" height="12px" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>') !important;
      mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="12px" height="12px" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>') !important;
  }

}

@media only screen and (max-width: 600px) {
  .nav-container {
    margin-left:30px;
    margin-right:30px;
  }
}

@media screen and (max-width: 530px) {
  .ozmenu.active {
      width: 100%;
     }

     .ozmenu ul.ozmenu-nav>li a {
      font-size: 20px !important; /* Forza l'applicazione della dimensione del testo nella navbar */
      font-weight: 400 !important;
      
    }
    
    .ozmenu ul li.dropdownitem ul li a {
      font-size: 20px !important; /* Forza l'applicazione della dimensione del testo per i dropdown */
      font-weight: 400 !important;
    }
}






    footer {
      /* background-color: green; */
      padding: 20px;
      margin-bottom: 23px;
      text-align: center;
      justify-content: center;
      line-height: 1.5; 
    }
    
    .social-icons {
      margin-bottom: 10px;
    }
    
    .social-icons a {
      color: var(--blue-dark);
      display: inline;
      font-size: 16px;
      margin: 0 10px;
      text-decoration: none;
      transition: color 0.3s ease-in-out;
      
    }

    
#rookies-path {
  transition: fill 0.3s ease;
  fill: var(--blue-dark);
  /* align-items: center;
  justify-content: center; */
  width: 47px;
}

#rookies-path:hover {
  fill: var(--main-color);
  cursor: pointer;

}
    
    .social-icons a:hover {
      color: var(--main-color);
    }

    .coded-by{
      font-size:12px;
      color: var(--blue-dark);
    }
    
    .coded-by a {
      
      color: var(--blue-dark);
      text-decoration: none;
      transition: color 0.3s ease-in-out;
    }
    
    .coded-by a:hover {
      color: var(--main-color);
    }

    @media only screen and (max-width: 1063.8px) {
    
      .coded-by{
        font-size:10px;
        margin-left: 1px;
      }

      #rookies-path {
        width: 40px;
      }
      

      .social-icons a {
        font-size: 14px;
        margin: 0 8px;
      }

      .social-icons {
        margin-bottom: 8px;
      }

    }

    @media only screen and (max-width: 550px) {
    
      .coded-by{
        font-size:9px;
        margin-left: 1px;
      }

      .social-icons a {
        font-size: 13px;
      }

      .social-icons {
        margin-bottom: 7px;
      }




    } 

    @media only screen and (max-width: 315px) {
    
      .coded-by{
        font-size:8px;
        margin-left: 2px;
      }

      .social-icons a {
        font-size: 12px;
        margin: 0 5px;
      }

      .social-icons {
        margin-bottom: 6px;
      }
      #rookies-path {
        width: 32px;
      }
    }


