@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.testo-grigio{
  color: var(--span-color);
}



.project-grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Prima colonna ancora più corta, seconda colonna più lunga */    gap: 20px;
    padding: 60px 0;
    /* background-color: green; */
    max-width: 900px; /* Larghezza massima del container */
    margin: auto; /* Centrare il container */
  }

  .project-grid-item {
    padding: 0px; /* Ripristinato il padding */
    text-align: left; /* Allineamento a sinistra */
    /* background-color: red; */
    color: var(--blue-dark);
  }

  .project-grid-item p {

    margin: 0; /* Rimuovi il margine predefinito dei paragrafi */
  }

  .project-grid-item:first-child {
    grid-column: span 1; /* Prima cella con una colonna */
  }

  /* .project-grid-item:last-child {
    margin-top: 1px;  Aggiunto un margine superiore per compensare il padding 
  } */

  .project-grid-item h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
  }

  .project-grid-item p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
  }

  .image-grid {
    display: grid;
    grid-template-columns: 1fr; /* Una colonna */
    gap: 10px; /* Spazio tra le immagini */
    max-width: 900px; /* Larghezza massima della griglia */
    margin: auto; /* Margine esterno con centratura */
  }

  .image-item {
    width: 100%; /* Larghezza dell'immagine al 100% della colonna */
    height: auto; /* Altezza automatica mantenendo l'aspetto originale */
    border-radius: 2px; /* Bordi arrotondati */
    overflow: hidden; /* Nasconde eventuali overflow dell'immagine */
  }

  .image-item img {
    width: 100%; /* Larghezza dell'immagine al 100% del contenitore */
    height: auto; /* Altezza automatica mantenendo l'aspetto originale */
    display: block; /* Elimina spazi bianchi aggiunti dalla visualizzazione inline */
  }


  @media only screen and (max-width: 768px) {
    .project-grid-container {
      grid-template-columns: 1fr; /* Una colonna su schermi più piccoli */
    }

    .project-grid-item:first-child {
      margin-bottom: 20px; /* Aumentato il margine inferiore su schermi più piccoli */
    }

  }

  @media only screen and (max-width: 600px) {

    .project-grid-item h4{
      /* background-color: red; */
      font-size: 19px;
    }

  }

  @media only screen and (max-width: 480px) {
    
    .project-grid-item h4{
      /* background-color: rgb(21, 255, 0); */
      font-size: 18px;
    }

  }


  @media only screen and (max-width: 500px) {
    
    .project-grid-item p{
      /* background-color: rgb(253, 148, 212); */
      font-size: 14px;
    }

  }

  @media only screen and (max-width: 400px) {
    
    .project-grid-item h4{
      /* background-color: rgb(0, 85, 255); */
      font-size: 16px;
    }

  }

  @media only screen and (max-width: 400px) {
    
    .project-grid-item h4{
      /* background-color: rgb(221, 255, 0); */
      font-size: 14px;
    }

  }
